<% if object.errors.any? %>
  <div id="error_explanation">
    
     <% object.errors.keys.each { |attr| object.errors[attr].delete_at(1) } %> 
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    
    <% object.errors.full_messages.each do |msg| %>
      
      <li><%= msg %></li>
      
    <% end %>
    </ul>
  </div>
<% end %>